<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_Advertisement
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (https://cedcommerce.com/)
 * @license      https://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <!--  <event name="sales_order_place_after">
       <observer name="ced_advertisement_sales_order_place_after" instance="Ced\Advertisement\Observer\OrderPlaceAfter" />
    </event> -->
    <event name="checkout_submit_all_after">
       <observer name="ced_advertisement_sales_order_save_after" instance="Ced\Advertisement\Observer\OrderSaveAfter" />
    </event>
    <event name="checkout_cart_product_add_after">
       <observer name="ced_advertisement_checkout_cart_product_add_after" instance="Ced\Advertisement\Observer\AddBlock" />
    </event>
    <!-- 
    <event name="sales_quote_remove_item">
       <observer name="ced_advertisement_sales_quote_remove_item" instance="Ced\Advertisement\Observer\QuoteItemRemove" />
    </event> -->
</config> 